.form--main {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 75vh;
  font-size: 2.25rem;
}

.form--input {
  border-bottom: 0.125rem solid #a8b2bb;
  border-top: none;
  border-left: none;
  border-right: none;
  background: #282d35;
  font-size: 1.75rem;
  color: aliceblue;
  display: block;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.form--input:focus {
  outline: none;
  caret-color: aliceblue;
}

.form--button {
  cursor: pointer;
  background: #282d35;
  border: transparent;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  height: 100%;
  display: inline-block;
  position: relative;
}

.form--button:hover {
  background: #34353b;
  height: 100%;
}

.form--button::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.075rem;
  font-weight: 500;
  bottom: 0.005rem;
  left: 0;
  background-color: #51afef;
  transition: transform 0.25s ease-out;
}

.form--button:hover::after {
  transform: scaleX(1);
}

.form--title {
  display: flex;
  font-size: 2rem;
  padding-top: 4rem;
  text-decoration: underline;
}

.form--error_message {
  font-size: 1rem;
  color: #ff6c6b;
}

.form--input_error {
  border-bottom: 0.125rem solid #ff6c6b;
  border-top: none;
  border-left: none;
  border-right: none;
  background: #282d35;
  font-size: 1.75rem;
  color: aliceblue;
  display: block;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.form--input_error::placeholder {
  color: #ff6c6b;
}

.form--input_error:focus {
  outline: none;
  caret-color: aliceblue;
}
