.register--main {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 75vh;
  font-size: 2.25rem;
}

.register--input {
  border-bottom: 0.125rem solid aliceblue;
  border-top: none;
  border-left: none;
  border-right: none;
  background: #282d35;
  font-size: 1.75rem;
  color: aliceblue;
  display: block;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.register--input:focus {
  outline: none;
  caret-color: aliceblue;
}

.register--button {
  cursor: pointer;
  background: #282d35;
  border: transparent;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  height: 100%;
  display: inline-block;
  position: relative;
}

.register--button:hover {
  background: #34353b;
  height: 100%;
}

.register--button::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.075rem;
  font-weight: 500;
  bottom: 0.2rem;
  left: 0;
  background-color: #51afef;
  transition: transform 0.25s ease-out;
}

.register--button:hover::after {
  transform: scaleX(1);
}

.register--title {
  display: flex;
  font-size: 32px;
  padding-top: 4rem;
}
